@charset "UTF-8";
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -ms-touch-action: pan-y;
  touch-action: pan-y;
  -webkit-tap-highlight-color: transparent;
}

.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 0;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.slick-track:before, .slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}

.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir=rtl] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
  display: none;
}

/* Slider */
.slick-loading .slick-list {
  background: #fff url("/node_modules/slick-carousel/slick/ajax-loader.gif") center center no-repeat;
}

/* Icons */
@font-face {
  font-family: "slick";
  src: url("/node_modules/slick-carousel/slick/fonts/slick.eot");
  src: url("/node_modules/slick-carousel/slick/fonts/slick.eot?#iefix") format("embedded-opentype"), url("/node_modules/slick-carousel/slick/fonts/slick.woff") format("woff"), url("/node_modules/slick-carousel/slick/fonts/slick.ttf") format("truetype"), url("/node_modules/slick-carousel/slick/fonts/slick.svg#slick") format("svg");
  font-weight: normal;
  font-style: normal;
}
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  height: 20px;
  width: 20px;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 50%;
  -webkit-transform: translate(0, -50%);
  transform: translate(0, -50%);
  padding: 0;
  border: none;
  outline: none;
}
.slick-prev:hover, .slick-prev:focus,
.slick-next:hover,
.slick-next:focus {
  outline: none;
  background: transparent;
  color: transparent;
}
.slick-prev:hover:before, .slick-prev:focus:before,
.slick-next:hover:before,
.slick-next:focus:before {
  opacity: 1;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev:before,
.slick-next:before {
  font-family: "slick";
  font-size: 20px;
  line-height: 1;
  color: black;
  opacity: 0.75;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.slick-prev {
  left: -25px;
}
[dir=rtl] .slick-prev {
  left: auto;
  right: -25px;
}
.slick-prev:before {
  content: "\2190";
}
[dir=rtl] .slick-prev:before {
  content: "\2192";
}

.slick-next {
  right: -25px;
}
[dir=rtl] .slick-next {
  left: -25px;
  right: auto;
}
.slick-next:before {
  content: "\2192";
}
[dir=rtl] .slick-next:before {
  content: "\2190";
}

/* Dots */
.slick-dotted.slick-slider {
  margin-bottom: 30px;
}

.slick-dots {
  position: absolute;
  bottom: -25px;
  list-style: none;
  display: block;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  height: 20px;
  width: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}
.slick-dots li button {
  border: 0;
  background: transparent;
  display: block;
  height: 20px;
  width: 20px;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 5px;
  cursor: pointer;
}
.slick-dots li button:hover, .slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before, .slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before {
  position: absolute;
  top: 0;
  left: 0;
  content: "\2022";
  width: 20px;
  height: 20px;
  font-family: "slick";
  font-size: 6px;
  line-height: 20px;
  text-align: center;
  color: black;
  opacity: 0.25;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.slick-dots li.slick-active button:before {
  color: black;
  opacity: 0.75;
}

@font-face {
  font-family: "CeraRoundProRegular";
  font-style: normal;
  font-weight: normal;
  src: local("Cera Round Pro Regular"), url("/public/fonts/CeraRoundProRegular.woff") format("woff");
}
@font-face {
  font-family: "CeraRoundProThin";
  font-style: normal;
  font-weight: normal;
  src: local("Cera Round Pro Thin"), url("/public/fonts/CeraRoundProThin.woff") format("woff");
}
@font-face {
  font-family: "CeraRoundProLight";
  font-style: normal;
  font-weight: normal;
  src: local("Cera Round Pro Light"), url("/public/fonts/CeraRoundProLight.woff") format("woff");
}
@font-face {
  font-family: "CeraRoundProMedium";
  font-style: normal;
  font-weight: normal;
  src: local("Cera Round Pro Medium"), url("/public/fonts/CeraRoundProMedium.woff") format("woff");
}
@font-face {
  font-family: "CeraRoundProBold";
  font-style: normal;
  font-weight: normal;
  src: local("Cera Round Pro Bold"), url("/public/fonts/CeraRoundProBold.woff") format("woff");
}
@font-face {
  font-family: "CeraRoundProBlack";
  font-style: normal;
  font-weight: normal;
  src: local("Cera Round Pro Black"), url("/public/fonts/CeraRoundProBlack.woff") format("woff");
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

input, button {
  outline: none;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: "CeraRoundProMedium", Calibri, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  min-width: 100vw;
  background-color: #fafaff;
}
body.disable {
  overflow: hidden;
}

.header .header__slider {
  padding: 125px 0 0;
}

.slick-slider .slick-slide {
  outline: none;
}
.slick-slider .slick-dots {
  bottom: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: 1px solid #5489c3;
  border-radius: 8px;
  bottom: 45px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  left: 0;
  right: 0;
  margin: 0 auto;
}
.slick-slider .slick-dots li {
  width: 16px;
  height: 15px;
}
.slick-slider .slick-dots li button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  height: 100%;
  padding: 0;
}
.slick-slider .slick-dots li button:before {
  content: "";
  background: #60759d;
  height: 1px;
  width: 100%;
  top: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  right: 0;
  left: 8px;
  margin: 0 auto;
  opacity: 1;
}
.slick-slider .slick-dots li.slick-active button:before {
  background: #fff;
}

.main > div:not(.header) {
  position: relative;
  z-index: 1;
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  padding: 35px 0 0;
  background-image: url(/public/images/header_background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: #fff;
  margin-bottom: 150px;
}
.header .header__wrapper {
  position: relative;
  z-index: 1;
}
.header .lines-background {
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  z-index: 1;
}
.header .header-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header .header-menu .header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}
.header .header-menu .header-menu__list .header-menu__item {
  cursor: pointer;
  position: relative;
}
.header .header-menu .header-menu__list .header-menu__item.active:before {
  content: "\2022";
  position: absolute;
  top: 100%;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
}
.header .header__logo {
  margin-right: 200px;
}
.header .header__slider {
  padding: 125px 0 40px;
}
.header .header__slider .header__slide {
  text-align: center;
}
.header .header__slider .header__slide .header__slide__title {
  font-size: 36px;
  line-height: 54px;
  margin-bottom: 60px;
}
.header .header__slider .header__slide .header__slide__desc {
  font-size: 24.02px;
  line-height: 36.08px;
  margin-bottom: 58px;
}
.header .header__slider .header__slide .button.button_more {
  margin: 0 auto 145px;
}

.button {
  padding: 23px 30px;
  border: 2px solid #fff;
  border-radius: 30px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  cursor: pointer;
  color: #fff;
  font-family: "CeraRoundProBold", Calibri, Arial, Helvetica, sans-serif;
  font-size: 16px;
}
.button.button_more {
  background-color: #e70067;
  border: 2px solid #e70067;
}

.health-journal {
  margin-bottom: 135px;
}
.health-journal .pulse {
  position: absolute;
  right: -90px;
  top: 73%;
}
.health-journal > .container {
  position: relative;
}
.health-journal .health-journal__wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.health-journal .health-journal__wrapper .health-journal__desc {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.health-journal .health-journal__wrapper .health-journal__desc .title_large {
  margin-bottom: 25px;
}
.health-journal .health-journal__wrapper .health-journal__desc .title_small {
  max-width: 63%;
}
.health-journal .health-journal__wrapper .health-journal__desc .title_small:not(:last-child) {
  margin-bottom: 25px;
}
.health-journal .health-journal__wrapper .health-journal__desc .button.button_more {
  margin-top: 40px;
}
.health-journal .health-journal__wrapper .health-journal__desc ul {
  padding: 0;
  margin: 0;
}
.health-journal .health-journal__wrapper .health-journal__desc ul li {
  list-style-type: none;
  position: relative;
  padding-left: 15px;
}
.health-journal .health-journal__wrapper .health-journal__desc ul li:before {
  position: absolute;
  display: block;
  content: "";
  width: 5px;
  height: 5px;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: #16afe0;
  border-radius: 50%;
}
.health-journal .health-journal__wrapper .health-journal__mobile {
  margin-right: 40px;
}

.title_large {
  line-height: 54px;
  font-size: 36px;
  color: #60759d;
}

.title_small {
  line-height: 24px;
  color: #60759d;
}

.title_medium {
  font-size: 24px;
  line-height: 36px;
  color: #60759d;
}

.application-functions {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(14, 114, 183, 0.04)), to(rgba(40, 43, 100, 0.04))), -webkit-gradient(linear, left top, left bottom, from(#fafaff), to(#fafaff));
  background: linear-gradient(rgba(14, 114, 183, 0.04), rgba(40, 43, 100, 0.04)), linear-gradient(#fafaff, #fafaff);
  padding: 160px 0 170px;
  border-top-left-radius: 50% 100px;
  border-top-right-radius: 50% 100px;
}
.application-functions .application-functions__wrapper {
  text-align: center;
}
.application-functions .application-functions__wrapper .title_large {
  margin-bottom: 65px;
}
.application-functions .application-functions__wrapper .application-functions__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.application-functions .application-functions__wrapper .application-functions__items .application-functions__item {
  max-width: 19%;
}
.application-functions .application-functions__wrapper .application-functions__items .application-functions__item:nth-child(3n+2) {
  margin: 0 145px 80px;
}
.application-functions .application-functions__wrapper .application-functions__items .application-functions__item .application-functions__item__icon {
  width: 80px;
  height: 80px;
  margin: 0 auto 23px;
  border: 1px solid rgba(22, 175, 224, 0.25);
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.personal-journal {
  padding: 165px 0 200px;
}
.personal-journal .personal-journal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.personal-journal .personal-journal__content .personal-journal__items {
  margin-left: 105px;
}
.personal-journal .personal-journal__content .personal-journal__items .personal-journal__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}
.personal-journal .personal-journal__content .personal-journal__items .personal-journal__item .personal-journal__item__counter {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 60px;
  color: rgba(22, 175, 224, 0.25);
  border: 1px solid rgba(22, 175, 224, 0.25);
  border-radius: 50%;
  width: 125px;
  height: 125px;
  position: absolute;
  z-index: 1;
  left: -105px;
  top: -17px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.personal-journal .personal-journal__content .personal-journal__items .personal-journal__item:not(:last-child) {
  margin-bottom: 50px;
}
.personal-journal .personal-journal__content .personal-journal__items .personal-journal__item .personal-journal__item__text {
  position: relative;
  z-index: 2;
  background-color: #fafaff;
  padding-left: 10px;
  padding-top: 25px;
}
.personal-journal .personal-journal__content .personal-journal__items .personal-journal__item .personal-journal__item__title {
  font-size: 24px;
  color: #60759d;
  margin-bottom: 20px;
}
.personal-journal .title_large {
  margin-bottom: 65px;
  color: #31496b;
  text-align: center;
}
.personal-journal .personal-journal__mobiles {
  margin-left: 30px;
}

.subscribe-form {
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(14, 114, 183, 0.04)), to(rgba(40, 43, 100, 0.04)));
  background: linear-gradient(rgba(14, 114, 183, 0.04), rgba(40, 43, 100, 0.04));
  padding: 150px 0 160px;
  text-align: center;
}
.subscribe-form .title_large {
  margin-bottom: 65px;
  text-align: center;
}
.subscribe-form .title_medium {
  margin-bottom: 60px;
}
.subscribe-form input {
  border: 1px solid #4f699b;
  padding: 25px 20px;
  background: transparent;
  border-radius: 30px;
  font-size: 14px;
  font-family: "CeraRoundProLight", Calibri, Arial, Helvetica, sans-serif;
  margin-right: 40px;
  width: 31.5%;
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(rgba(14, 114, 183, 0.4)), to(rgba(40, 43, 100, 0.4)));
  background: linear-gradient(rgba(14, 114, 183, 0.4), rgba(40, 43, 100, 0.4));
  z-index: 3;
  color: #60759d;
}
.modal > .container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}
.modal .title_large {
  margin-bottom: 30px;
  text-align: center;
}
.modal .modal__wrapper {
  z-index: 2;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  left: 0;
  right: 0;
  margin: 0 auto;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  background-color: #fff;
  border-radius: 30px;
  padding: 25px 50px;
  min-width: 500px;
}
.modal .modal__wrapper form {
  display: none;
}
.modal .modal__wrapper form.active {
  display: block;
}
.modal .button {
  display: block;
  margin: 55px auto 0;
}
.modal .overlay {
  width: 100%;
  height: 100%;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1;
}
.modal .submit-request .submit-request__field {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  position: relative;
}
.modal .submit-request .submit-request__field .submit-request__title {
  margin-right: 10px;
  width: 100px;
}
.modal .submit-request .submit-request__field input {
  background: transparent;
  width: 100%;
  border: 1px solid #4f699b;
  border-radius: 30px;
  padding: 8px 10px;
}
.modal .submit-request .submit-request__field:not(:last-child) {
  margin-bottom: 30px;
}
.modal .submit-request .submit-request__field label.error {
  position: absolute;
  left: 0;
  top: calc(100% + 2px);
  color: #e70067;
}
.modal .status {
  display: none;
  text-align: center;
}
.modal .status.active {
  display: block;
}

@supports (-ms-ime-align: auto) {
  .header .header__slider .header__slide .button.button_more {
    display: inline-block;
  }
  .header .header-menu .header-menu__list .header-menu__item.active:before {
    width: 6.44px;
  }

  .slick-slider .slick-dots {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    width: 5%;
    min-width: 5%;
  }

  .slick-slider .slick-dots li {
    margin-bottom: 5px;
  }

  .modal .modal__wrapper {
    display: inline-block;
    width: 500px;
  }
}
@media (min-width: 1200px) {
  .container {
    width: 1175px;
  }
}