$slick-font-path: "/node_modules/slick-carousel/slick/fonts/" !default;
$slick-font-family: "slick" !default;
$slick-loader-path: "/node_modules/slick-carousel/slick/" !default;
$slick-arrow-color: black !default;
@import "~slick-carousel/slick/slick.scss";
@import "~slick-carousel/slick/slick-theme.scss";

$black: #000;
$white: #fff;
$white_blue: #fafaff;
$dark_blue: #60759d;
$dark_blue_rgb: rgba(22, 175, 224, 0.25);
$pink: #e70067;

@font-face {
  font-family: 'CeraRoundProRegular';
  font-style: normal;
  font-weight: normal;
  src: local('Cera Round Pro Regular'), url('/public/fonts/CeraRoundProRegular.woff') format('woff');
}

@font-face {
  font-family: 'CeraRoundProThin';
  font-style: normal;
  font-weight: normal;
  src: local('Cera Round Pro Thin'), url('/public/fonts/CeraRoundProThin.woff') format('woff');
}

@font-face {
  font-family: 'CeraRoundProLight';
  font-style: normal;
  font-weight: normal;
  src: local('Cera Round Pro Light'), url('/public/fonts/CeraRoundProLight.woff') format('woff');
}

@font-face {
  font-family: 'CeraRoundProMedium';
  font-style: normal;
  font-weight: normal;
  src: local('Cera Round Pro Medium'), url('/public/fonts/CeraRoundProMedium.woff') format('woff');
}

@font-face {
  font-family: 'CeraRoundProBold';
  font-style: normal;
  font-weight: normal;
  src: local('Cera Round Pro Bold'), url('/public/fonts/CeraRoundProBold.woff') format('woff');
}

@font-face {
  font-family: 'CeraRoundProBlack';
  font-style: normal;
  font-weight: normal;
  src: local('Cera Round Pro Black'), url('/public/fonts/CeraRoundProBlack.woff') format('woff');
}

* {
  box-sizing: border-box;
}

input, button {
  outline: none;
}

body {
  margin: 0;
  font-size: 16px;
  font-family: 'CeraRoundProMedium', Calibri, Arial, Helvetica, sans-serif;
  overflow-x: hidden;
  min-width: 100vw;
  background-color: $white_blue;

  &.disable {
    overflow: hidden;
  }
}

.header .header__slider {
  padding: 125px 0 0;
}

.slick-slider {
  .slick-slide {
    outline: none;
  }

  .slick-dots {
    bottom: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #5489c3;
    border-radius: 8px;
    bottom: 45px;
    width: max-content;
    left: 0;
    right: 0;
    margin: 0 auto;

    li {
      width: 16px;
      height: 15px;

      button {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100%;
        height: 100%;
        padding: 0;

        &:before {
          content: '';
          background: $dark_blue;
          height: 1px;
          width: 100%;
          top: 50%;
          transform: translateX(-50%);
          right: 0;
          left: 8px;
          margin: 0 auto;
          opacity: 1;
        }
      }

      &.slick-active {
        button {
          &:before {
            background: $white;
          }
        }
      }
    }
  }
}

.main {
  & > div:not(.header) {
    position: relative;
    z-index: 1;
  }
}

.container {
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.header {
  padding: 35px 0 0;
  background-image: url(/public/images/header_background.png);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: $white;
  margin-bottom: 150px;

  .header__wrapper {
    position: relative;
    z-index: 1;
  }

  .lines-background {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    width: 100%;
    z-index: 1;
  }

  .header-menu {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .header-menu__list {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;

      .header-menu__item {
        cursor: pointer;
        position: relative;

        &.active {
          &:before {
            content: '•';
            position: absolute;
            top: 100%;
            left: 0;
            right: 0;
            margin: 0 auto;
            width: max-content;
          }
        }
      }
    }
  }

  .header__logo {
    margin-right: 200px;
  }

  .header__slider {
    padding: 125px 0 40px;

    .header__slide {
      text-align: center;

      .header__slide__title {
        font-size: 36px;
        line-height: 54px;
        margin-bottom: 60px;
      }

      .header__slide__desc {
        font-size: 24.02px;
        line-height: 36.08px;
        margin-bottom: 58px;
      }

      .button {
        &.button_more {
          margin: 0 auto 145px;
        }
      }
    }
  }
}

.button {
  padding: 23px 30px;
  border: 2px solid $white;
  border-radius: 30px;
  width: max-content;
  cursor: pointer;
  color: $white;
  font-family: "CeraRoundProBold", Calibri, Arial, Helvetica, sans-serif;
  font-size: 16px;

  &.button_more {
    background-color: $pink;
    border: 2px solid $pink;
  }
}

.health-journal {
  margin-bottom: 135px;

  .pulse {
    position: absolute;
    right: -90px;
    top: 73%;
  }

  & > .container {
    position: relative;
  }

  .health-journal__wrapper {
    display: flex;
    align-items: center;

    .health-journal__desc {
      display: flex;
      align-items: flex-start;
      flex-direction: column;
      justify-content: center;

      .title_large {
        margin-bottom: 25px;
      }

      .title_small {
        max-width: 63%;

        &:not(:last-child) {
          margin-bottom: 25px;
        }
      }

      .button.button_more {
        margin-top: 40px;
      }

      ul {
        padding: 0;
        margin: 0;

        li {
          list-style-type: none;
          position: relative;
          padding-left: 15px;

          &:before {
            position: absolute;
            display: block;
            content: '';
            width: 5px;
            height: 5px;
            left: 0;
            top: 50%;
            transform: translateY(-50%);
            background-color: #16afe0;
            border-radius: 50%;
          }
        }
      }
    }

    .health-journal__mobile {
      margin-right: 40px;
    }
  }
}

.title_large {
  line-height: 54px;
  font-size: 36px;
  color: $dark_blue;
}

.title_small {
  line-height: 24px;
  color: $dark_blue;
}

.title_medium {
  font-size: 24px;
  line-height: 36px;
  color: $dark_blue;
}

.application-functions {
  background: linear-gradient(rgba(14, 114, 183, 0.04), rgba(40, 43, 100, 0.04)), linear-gradient(rgba($white_blue, 1), rgba($white_blue, 1));
  padding: 160px 0 170px;
  border-top-left-radius: 50% 100px;
  border-top-right-radius: 50% 100px;

  .application-functions__wrapper {
    text-align: center;

    .title_large {
      margin-bottom: 65px;
    }

    .application-functions__items {
      display: flex;
      align-items: flex-start;
      flex-wrap: wrap;
      justify-content: space-between;

      .application-functions__item {
        max-width: 19%;

        &:nth-child(3n + 2) {
          margin: 0 145px 80px;
        }

        .application-functions__item__icon {
          width: 80px;
          height: 80px;
          margin: 0 auto 23px;
          border: 1px solid rgb(22, 175, 224, 0.25);
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }
  }
}

.personal-journal {
  padding: 165px 0 200px;

  .personal-journal__content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    .personal-journal__items {
      margin-left: 105px;


      .personal-journal__item {
        display: flex;
        align-items: flex-start;
        position: relative;

        .personal-journal__item__counter {
          display: flex;
          font-size: 60px;
          color: $dark_blue_rgb;
          border: 1px solid $dark_blue_rgb;
          border-radius: 50%;
          width: 125px;
          height: 125px;
          position: absolute;
          z-index: 1;
          left: -105px;
          top: -17px;
          align-items: center;
          justify-content: center;
        }

        &:not(:last-child) {
          margin-bottom: 50px;
        }

        .personal-journal__item__text {
          position: relative;
          z-index: 2;
          background-color: $white_blue;
          padding-left: 10px;
          padding-top: 25px;
        }

        .personal-journal__item__title {
          font-size: 24px;
          color: $dark_blue;
          margin-bottom: 20px;
        }
      }
    }
  }

  .title_large {
    margin-bottom: 65px;
    color: #31496b;
    text-align: center;
  }

  .personal-journal__mobiles {
    margin-left: 30px;
  }
}

.subscribe-form {
  background: linear-gradient(rgba(14, 114, 183, 0.04), rgba(40, 43, 100, 0.04));
  padding: 150px 0 160px;
  text-align: center;

  .title_large {
    margin-bottom: 65px;
    text-align: center;
  }

  .title_medium {
    margin-bottom: 60px;
  }

  input {
    border: 1px solid #4f699b;
    padding: 25px 20px;
    background: transparent;
    border-radius: 30px;
    font-size: 14px;
    font-family: "CeraRoundProLight", Calibri, Arial, Helvetica, sans-serif;
    margin-right: 40px;
    width: 31.5%;
  }
}

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background: linear-gradient(rgba(14, 114, 183, 0.4), rgba(40, 43, 100, 0.4));
  z-index: 3;
  color: #60759d;

  & > .container {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
  }

  .title_large {
    margin-bottom: 30px;
    text-align: center;
  }

  .modal__wrapper {
    z-index: 2;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    left: 0;
    right: 0;
    margin: 0 auto;
    width: max-content;
    background-color: $white;
    border-radius: 30px;
    padding: 25px 50px;
    min-width: 500px;

    form {
      display: none;

      &.active {
        display: block;
      }
    }
  }

  .button {
    display: block;
    margin: 55px auto 0;
  }

  .overlay {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    z-index: 1;
  }

  .submit-request {
    .submit-request__field {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      position: relative;

      .submit-request__title {
        margin-right: 10px;
        width: 100px;
      }

      input {
        background: transparent;
        width: 100%;
        border: 1px solid #4f699b;
        border-radius: 30px;
        padding: 8px 10px;
      }

      &:not(:last-child) {
        margin-bottom: 30px;
      }

      label {
        &.error {
          position: absolute;
          left: 0;
          top: calc(100% + 2px);
          color: $pink;
        }
      }
    }
  }

  .status {
    display: none;
    text-align: center;

    &.active {
      display: block;
    }
  }
}

// ie
@supports (-ms-ime-align:auto) {
  .header {
    .header__slider {
      .header__slide {
        .button {
          &.button_more {
            display: inline-block;
          }
        }
      }
    }
    .header-menu {
      .header-menu__list {
        .header-menu__item {
          &.active {
            &:before {
              width: 6.44px;
            }
          }
        }
      }
    }
  }
  .slick-slider {
    .slick-dots {
      display: inline-flex;
      width: 5%;
      min-width: 5%;
    }
  }
  .slick-slider {
    .slick-dots {
      li {
        margin-bottom: 5px;
      }
    }
  }
  .modal {
    .modal__wrapper {
      display: inline-block;
      width: 500px;
    }
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1175px;
  }
}
